* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}

.caja {
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cajita {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.el-resultado {
  background-color: gray;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.historial {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

h2 {
  text-align: center;
}
.tabla-css {
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  box-shadow: 0 0 25px;
  border-collapse: collapse;
}
.tabla-css thead tr {
  text-align: center;
}
.tabla-css th,
.tabla-css td {
  padding: 20px 20px;
  text-align: center;
}

.btc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.coin {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 5px 0;
}

.bitcoin-item {
  background-color: #f6ff00;
}

.dollar-item {
  background-color: gray;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  position: absolute;
  bottom: 0;
  width: 100%;
}
